

.heading{
    background-color:#00FFFF;
    text-align:center;
    border:none;
    font-family: sans-serif;
    color: black;
    padding: 20px 100px;
    text-align: center;
    font-size: 50px;
    display: block;
}

.button{
    padding: 70px;
    background-color: purple;
    border:2px solid red;
    border-radius: 20px;
    box-sizing:border-box;
    color:aqua;
    padding: 15px 50px;
    font-family:cursive;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin: 20px auto;
    cursor: pointer; 
    display: block;
    width: 250px;
    height: 70px;
}
