body {
	font-family: 'Bitter', serif;
}

.white-text {
	color: #FFF;
}

.background {
	background-color: #607d8b;
    background: -webkit-linear-gradient(#607d8b, #bdbdbd); 
  	background: -o-linear-gradient(#607d8b, #bdbdbd);
  	background: -moz-linear-gradient(#607d8b, #bdbdbd); 
  	background: linear-gradient(#607d8b, #bdbdbd); 
  	background-repeat: no-repeat;
  	background-attachment: fixed;

}

.buttons:hover {
	opacity: 0.9;
	color:#FFF;
}

.text-color {
	color: #607d8b;
}

.margin {
	margin-top: 10px;
	margin-right: 10%;
	margin-left: 10%;
}


.description {
	margin-top: 10px;
	font-size: 1.2em;
}

.hub {
	background-color: #FFF;
	margin-top: 20px;
	padding: 20px;
	border-style: solid;
	border-radius: 30px;
	border-width: 5px;
	border-color: #FFF;
	min-height: 250px;
	height: auto;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-around;
}

.flex {

	display: flex;
}

.restaurant {
	font-size: 1.3em;
	padding: 5px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

.person:hover {
	opacity: 0.7;
}

.buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline;
	margin: 5px;
	color: #FFF;
}

#pic {
	max-width: 60%;
}

#distanceValue {
	text-align: center;
	margin-right: 5px;
}

.slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(88, 122, 163);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.bottom-margin {
	margin-bottom: 20px;
}

#slider-input {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.distance-filter {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-between;
}